<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Channel 6</title>
        <meta name="description" content="Make your own channel of Vines. Just type!">
        <meta name="viewport" content="width=device-width">
        <meta property="og:description" content="Make your own channel of Vines. Just type!">
        <meta property="og:url" content="http://ch6.co">
        <meta property="og:image" content="http://ch6.co/apple-touch-icon.png">
        <meta property="og:title" content="Channel 6">
        <meta property="fb:admins" content="24409159">
        <meta property="og:type" content="website">
        <meta property="fb:app_id" content="504967839554499">
        <link rel="icon" type="image/png" href="apple-touch-icon.png">
        <link rel="shortcut icon" href="favicon.ico">
        <link rel="canonical" href="http://ch6.co">
        <link rel="stylesheet" href="css/reset.css">
        <link rel="stylesheet" href="css/main.css">
        <link href='http://fonts.googleapis.com/css?family=Roboto:100,700,400,900' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        <div class="container">
          <div class="video-box">
            <header class="overlay shown">
              <div class="color-bars">
                <div class="bar"></div>
                <div class="bar"></div><div class="bar"></div>
                <div class="bar"></div><div class="bar"></div>
                <div class="bar"></div><div class="bar"></div>
              </div>
              <h1 class="overlay-logo">6</h1>
              <h2>Make your channel.</h2>
            </header>
            <h1 class="logo">6</h1>
            <span class="live-badge">LIVE</span>
            <video id="current_video" class=""  preload="auto" data-setup="{}">
              <source type="video/mp4" src="<%= vines[0] %>">
            </video>
            <video id="video_preloader" style="display:none" src="<%= vines[1] %>" preload="auto"></video>
            <section class="tags">
              <input class="tag-input clear" tabindex="1" type="text" />
              <span class="input-overlay-message">Type something here and hit Enter.</span>
            </section>
          </div>
          <div class="sidebar">
            <ul class="keys">
              <li id="up-arrow" class="key">&uarr;<span>Loop</span></li>
              <li id="right-arrow" class="key">&rarr;<span>Skip</span></li>
              <li class="key inactive">&darr;</li>
              <li class="key inactive">&larr;</li>
            </ul>
            <section class="about">
              <p class="creators">Channel 6 was built by <a href="http://twitter.com/tholex">@tholex</a> and <a href="http://twitter.com/adkatrit">@adkatrit</a>. Designed by <a href="http://twitter.com/super_haik">@super_haik</a></p>
              <a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="ch6">Tweet</a>
              <div class="fb-like" data-send="false" data-width="250" data-show-faces="false"></div>
              <div class="disclaimer">Channel 6 is not affiliated with nor endorsed by Vine or Twitter.</div>
            </section>
          </div>
        </div>
        <!-- twitter button code -->
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

        <div id="fb-root"></div>
        <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/all.js#xfbml=1"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.1.min.js"></scr'+'ipt>')</script>
        <script>var realtime = '<%= vines %>'.split(","); </script>
        <script src="js/tvine-min.js?<%= cachebust %>"></script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-50129682-1', 'ch6.co');
          ga('send', 'pageview');

        </script>
    </body>
</html>
