/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
html, button, input, select, textarea { color: #222; } body { font-size: 1em; line-height: 1.4; } ::-moz-selection { background: #b3d4fc; text-shadow: none; } ::selection { background: #b3d4fc; text-shadow: none; } hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; } img { vertical-align: middle; } fieldset { border: 0; margin: 0; padding: 0; } textarea { resize: vertical; } .chromeframe { margin: 0.2em 0; background: #ccc; color: #000; padding: 0.2em 0; }

html, body {
  height: 100%;
}
body {
  font-family: "Roboto", "Avenir Next", "Museo Sans";
  font-weight: 400;
  background: black;
  color: white;
}
.container {
  max-width: 1050px;
  margin: 0 auto;
  position: relative;
  height: 100%;
}

.video-box {
  position: absolute;
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 80%;
  width: 80%;
  max-height: 100%;
}

.logo {
  padding: 4px 6px;
  color: white;
  background: red;
  position: absolute;
  top: 16px;
  right: 20px;
  -webkit-box-shadow: 0 0 1px black;
  box-shadow: 0 0 1px black;
  z-index: 1337;
  -webkit-transition: background 0.3s ease;
	-moz-transition: background 0.3s ease;
	-o-transition: background 0.3s ease;
	-ms-transition: background 0.3s ease;
	transition: background 0.3s ease;

  font-weight: 400;
  h1 {
    font-size: 16px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.3);
  }
  span {
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
  }
}

#current_video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left:0;
  height: 100% !important;
  max-width: 100% !important;
  width: auto !important;
}

#current_video video{
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  max-width: 100%;
}

.input-overlay-message {
  position: absolute;
  left: 26px;
  bottom: 12px;
  max-width: 135px;
  text-align: left;
  opacity: 0;

  -webkit-transition: opacity 0.1s ease;
  -moz-transition: opacity 0.1s ease;
  -o-transition: opacity 0.1s ease;
  -ms-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
}

body:not(.idle) .tag-input.clear ~ .input-overlay-message {
  opacity: 1;
}

.tag-input {
  position: absolute;
  z-index: 3001;
  left: 0;
  bottom: 0;
  display: block;
  width: 80px;
  padding: 10px 18px;
  background: transparent;
  border: none;
  border-radius: 0; /* override iphone default */
  outline: none;
  color: white;
  margin: 0 0 0 auto;
  font-size: 40px;
  font-weight: 100;
  font-family: "Roboto";
  -webkit-transition: width 0.1s ease,
                      opacity 0.5s ease,
                      background-color 0.5s ease;

	-moz-transition: width 0.1s ease, opacity 0.5s ease, background-color 0.5s ease;
	-o-transition: width 0.1s ease, opacity 0.5s ease, background-color 0.5s ease;
	-ms-transition: width 0.1s ease, opacity 0.5s ease, background-color 0.5s ease;
	transition: width 0.1s ease, opacity 0.5s ease, background-color 0.5s ease;

  -webkit-transition-delay: 0s !important;
	-moz-transition-delay: 0s !important;
	-o-transition-delay: 0s !important;
	-ms-transition-delay: 0s !important;
	transition-delay: 0s !important;

  &.clear {
    background: transparent !important;
  }
}
/* Hmmm */
.tag-input:after {
  content: '';
  position: absolute;
  z-index: 3000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.tags {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  font-size: 16px;
  color: white;

  display: block;
  text-align: right;

  li {
    display: block;
    overflow: hidden;
  }

  &:hover .tag {
    letter-spacing: 0;
    padding: 9px 34px 9px 14px;
    > * {
      opacity: 1;
    }
    > a {
      -webkit-transition: opacity 0.75s ease;
      -moz-transition: opacity 0.75s ease;
      -o-transition: opacity 0.75s ease;
      -ms-transition: opacity 0.75s ease;
      transition: opacity 0.75s ease;
    }
  }
  .tag {
    position: relative;
    display: inline-block;
    color: white;
    padding: 9px 0 9px 0;
    width: auto;
    min-width: 9px;
    font-size: 13.5px;
    font-weight: 600;
    letter-spacing: -7px;
    -webkit-transition: padding 0.3s linear,
                        letter-spacing 0.3s ease,
                        width 0.3s ease,
                        background 0.5s ease,
                        color 0.5s ease;

    -moz-transition: padding 0.3s linear, letter-spacing 0.3s ease, width 0.3s ease, background 0.5s ease, color 0.5s ease;
    -o-transition: padding 0.3s linear, letter-spacing 0.3s ease, width 0.3s ease, background 0.5s ease, color 0.5s ease;
    -ms-transition: padding 0.3s linear, letter-spacing 0.3s ease, width 0.3s ease, background 0.5s ease, color 0.5s ease;
    transition: padding 0.3s linear, letter-spacing 0.3s ease, width 0.3s ease, background 0.5s ease, color 0.5s ease;

    > * {
      opacity: 0;
    }
    > span {
      -webkit-transition: opacity 0.6s ease;
      -moz-transition: opacity 0.6s ease;
      -o-transition: opacity 0.6s ease;
      -ms-transition: opacity 0.6s ease;
      transition: opacity 0.6s ease;
    }
    > a {
      -webkit-transition: opacity 0.1s ease;
      -moz-transition: opacity 0.1s ease;
      -o-transition: opacity 0.1s ease;
      -ms-transition: opacity 0.1s ease;
      transition: opacity 0.1s ease;
    }

    .close {
      position: absolute;
      right: 0;
      top: 0;
      padding: 7px 10px 6px;
      font-size: 24px;
      font-weight: 400;
      line-height: 24px;
      background: none;
      color: inherit;
      text-decoration: none;
    }
  }
  > :nth-child(7n+1) .tag,
  > .tag-input:nth-child(7n+1) {
    background: red;
  }
  > :nth-child(7n+2) .tag,
  > .tag-input:nth-child(7n+2) {
    background: green;
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    -ms-transition-delay: 0.1s;
    transition-delay: 0.1s;
  }
  > :nth-child(7n+3) .tag,
  > .tag-input:nth-child(7n+3) {
    background: blue;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }
  > :nth-child(7n+4) .tag,
  > .tag-input:nth-child(7n+4) {
    background: yellow;
    color: black;
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    -ms-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  > :nth-child(7n+5) .tag,
  > .tag-input:nth-child(7n+5) {
    background: cyan;
    color: black;
    -webkit-transition-delay: 0.4s;
    -moz-transition-delay: 0.4s;
    -o-transition-delay: 0.4s;
    -ms-transition-delay: 0.4s;
    transition-delay: 0.4s;
  }
  > :nth-child(7n+6) .tag,
  > .tag-input:nth-child(7n+6) {
    background: gray;
    	-webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    -ms-transition-delay: 0.5s;
    transition-delay: 0.5s;
  }
  > :nth-child(7n+7) .tag,
  > .tag-input:nth-child(7n+7) {
    background: #FF00FF;
    -webkit-transition-delay: 0.6s;
    -moz-transition-delay: 0.6s;
    -o-transition-delay: 0.6s;
    -ms-transition-delay: 0.6s;
    transition-delay: 0.6s;
  }
}

body.idle {
  .logo {
    background: rgba(0,0,0,0.4);
  }

  .tag-input {
    opacity: 0;
  }

  .tags .tag {
    min-width: 3px;
    width: 3px;
  }
  .tags:hover .tag {
    padding: 9px 0;
    > * {
      opacity: 0;
      letter-spacing: -7px;
      -webkit-transition: opacity 0.2s ease;
      -moz-transition: opacity 0.2s ease;
      -o-transition: opacity 0.2s ease;
      -ms-transition: opacity 0.2s ease;
      transition: opacity 0.2s ease;
    }
  }
}

.overlay.shown {
  height: 100%;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  text-align: center;
  z-index: 4000;

  -webkit-transition: height 1s ease;
  -moz-transition: height 1s ease;
  -o-transition: height 1s ease;
  -ms-transition: height 1s ease;
  transition: height 1s ease;

  .stripe-background;

  &.shown {
    height: 100%;
    h1, h2, .attribution {
      opacity: 1;
    }
  }

  h1, h2, .attribution {
    opacity: 0;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
  }

  h1 {
    display: block;
    width: 354px;
    margin: 35% auto 0 auto;
    padding: 16px 0;
    border: 16px solid white;
    font-size: 80px;
    font-weight: 600;
    font-family: "Roboto";
    line-height: 1.666em;
    letter-spacing: -5px;
    box-shadow: inset 0 0 2px rgba(0,0,0,0.5),
                0 0 2px rgba(0,0,0,0.5);
    text-shadow: 0 0px 2px rgba(0,0,0,0.5);
    i {
      padding-left: 7px;
      font-size: 1.333em;
      font-weight: 500;
      line-height: 1.1em;
      letter-spacing: 0px;
    }
  }

  h2 {
    margin: 16px auto 0 auto;
    font-size: 1.82em;
    line-height: 1;
    letter-spacing: 1px;
    max-width: 380px;
    text-shadow: 0 0px 2px rgba(0,0,0,0.8);
  }

  .attribution {
    font-size: 1.25em;
    margin-top: 20%;
    text-shadow: 0 0px 2px rgba(0,0,0,0.8);
    a {
      color: white;
      text-decoration: none;
    }
  }
}
.stripe-background {
   background: -webkit-linear-gradient(left,
    #73655D 0%,#73655D 14.3%,
    #8B7C27 14.3%, #8B7C27 28.6%,
    #45766B 28.6%, #45766B 42.9%,
    #377519 42.9%, #377519 57.3%,
    #7E2965 57.3%, #7E2965 71.7%,
    #761B17 71.6%, #761B17 84.9%,
    #1C1249 84.9%, #1C1249); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #73655D 0%,#73655D 14.3%,
    #8B7C27 14.3%, #8B7C27 28.6%,
    #45766B 28.6%, #45766B 42.9%,
    #377519 42.9%, #377519 57.3%,
    #7E2965 57.3%, #7E2965 71.7%,
    #761B17 71.6%, #761B17 84.9%,
    #1C1249 84.9%, #1C1249); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #73655D 0%,#73655D 14.3%,
    #8B7C27 14.3%, #8B7C27 28.6%,
    #45766B 28.6%, #45766B 42.9%,
    #377519 42.9%, #377519 57.3%,
    #7E2965 57.3%, #7E2965 71.7%,
    #761B17 71.6%, #761B17 84.9%,
    #1C1249 84.9%, #1C1249); /* IE10+ */
background: linear-gradient(to right, #73655D 0%,#73655D 14.3%,
    #8B7C27 14.3%, #8B7C27 28.6%,
    #45766B 28.6%, #45766B 42.9%,
    #377519 42.9%, #377519 57.3%,
    #7E2965 57.3%, #7E2965 71.7%,
    #761B17 71.7%, #761B17 84.9%,
    #1C1249 84.9%, #1C1249); /* W3C */
}


@media screen and (max-width: 640px) {
  .video-box {
    padding-bottom: 100%;
    width: 100%;
    max-height: 100%;
  }
}
