/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222;
}
body {
  font-size: 1em;
  line-height: 1.4;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
img {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
html,
body {
  height: 100%;
}
body {
  font-family: "Roboto", "Avenir Next", "Museo Sans";
  font-weight: 400;
  color: white;
  background: black;
}
.container {
  margin-left: auto;
  position: relative;
  height: 100%;
  box-shadow: 0 0 10px black;
}
.video-box {
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 75.5%;
  width: 75.5%;
  max-height: 100%;
  overflow: hidden;
}
.sidebar {
  position: absolute;
  top: 0;
  left: 75.5%;
  font-size: 13px;
  width: 24.5%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background: black;
  max-width: 305px;
}
.sidebar .about {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  padding-left: 48px;
  padding-right: 24px;
  max-height: 400px;
}
.sidebar .about a {
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition: opacity 0.1s ease;
  -moz-transition: opacity 0.1s ease;
  -o-transition: opacity 0.1s ease;
  -ms-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
  color: #6becd3;
}
.sidebar .about a:hover {
  opacity: 0.8;
}
.sidebar .about a ~ a {
  color: #fff38d;
}
.sidebar .about a ~ a ~ a {
  color: #ff00ca;
}
.sidebar .creators {
  margin-bottom: 40px;
}
.sidebar .disclaimer {
  font-weight: 400;
  line-height: 1.1;
  color: #666;
  margin-top: 36px;
  margin-bottom: 28px;
}
.sidebar .fb-like {
  margin-top: 4px;
  height: 35px !important;
}
.logo {
  position: absolute;
  z-index: 99;
  right: 38px;
  top: 38px;
  padding: 0.15em 0.5em 0.1em;
  border: 0.2em solid white;
  font-size: 1.25em;
  font-weight: 600;
  font-family: "Roboto";
  letter-spacing: -0.01em;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  cursor: default;
  -webkit-transition: border-radius 35s linear;
}
.logo i {
  font-size: 1.333em;
  font-weight: 500;
  line-height: 1.1em;
  letter-spacing: 0px;
}
.logo:hover {
  border-radius: 10px;
}
#current_video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100% !important;
  max-width: 100% !important;
  width: auto !important;
}
#current_video video {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  max-width: 100%;
}
.input-overlay-message {
  position: absolute;
  left: 46px;
  bottom: 16px;
  max-width: 200px;
  font-size: 1.5em;
  font-weight: 100;
  text-align: left;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.1s ease;
  -moz-transition: opacity 0.1s ease;
  -o-transition: opacity 0.1s ease;
  -ms-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
}
body:not(.idle) .tag-input.clear ~ .input-overlay-message {
  opacity: 1;
}
.tag-input:focus {
  padding: 16px 24px;
  opacity: 1;
}
.tag-input {
  position: absolute;
  z-index: 10;
  left: 0;
  bottom: 0;
  display: block;
  width: 100px;
  padding: 140px 280px 16px 24px;
  background: transparent;
  border: none;
  border-radius: 0;
  /* override iphone default */

  outline: none;
  color: white;
  margin: 0 0 0 auto;
  font-size: 56px;
  font-weight: 100;
  font-family: "Roboto";
  opacity: 0;
  -webkit-transition: width 0.1s ease, opacity 0.5s ease, background-color 0.5s ease;
  -moz-transition: width 0.1s ease, opacity 0.5s ease, background-color 0.5s ease;
  -o-transition: width 0.1s ease, opacity 0.5s ease, background-color 0.5s ease;
  -ms-transition: width 0.1s ease, opacity 0.5s ease, background-color 0.5s ease;
  transition: width 0.1s ease, opacity 0.5s ease, background-color 0.5s ease;
  -webkit-transition-delay: 0s !important;
  -moz-transition-delay: 0s !important;
  -o-transition-delay: 0s !important;
  -ms-transition-delay: 0s !important;
  transition-delay: 0s !important;
}
.tag-input.clear {
  background: transparent !important;
  color: white !important;
}
/* Hmmm */
.tag-input:after {
  content: '';
  position: absolute;
  z-index: 9;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.tags {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  font-size: 16px;
  color: white;
  display: block;
  text-align: right;
  /**
#32018c
#e20b19
#f20ebf
#61e91a
#79e4c6
#ffef84
#d9baa7

  */

}
.tags li {
  display: block;
  overflow: hidden;
}
.tags:hover .tag:not(.just-inserted) {
  letter-spacing: 0;
  padding: 9px 34px 9px 14px;
}
.tags:hover .tag:not(.just-inserted) > * {
  opacity: 1;
}
.tags:hover .tag:not(.just-inserted) > a {
  -webkit-transition: opacity 0.75s ease;
  -moz-transition: opacity 0.75s ease;
  -o-transition: opacity 0.75s ease;
  -ms-transition: opacity 0.75s ease;
  transition: opacity 0.75s ease;
}
.tags .tag:not(.just-inserted) {
  padding: 9px 0 9px 0;
  letter-spacing: -7px;
}
.tags .tag:not(.just-inserted) > * {
  opacity: 0;
}
.tags .tag {
  position: relative;
  display: inline-block;
  color: white;
  width: auto;
  min-width: 9px;
  padding: 9px 34px 9px 14px;
  font-size: 13.5px;
  font-weight: 600;
  letter-spacing: 0;
  -webkit-transition: padding 0.3s linear, letter-spacing 0.3s ease, width 0.3s ease, background 0.5s ease, color 0.5s ease;
  -moz-transition: padding 0.3s linear, letter-spacing 0.3s ease, width 0.3s ease, background 0.5s ease, color 0.5s ease;
  -o-transition: padding 0.3s linear, letter-spacing 0.3s ease, width 0.3s ease, background 0.5s ease, color 0.5s ease;
  -ms-transition: padding 0.3s linear, letter-spacing 0.3s ease, width 0.3s ease, background 0.5s ease, color 0.5s ease;
  transition: padding 0.3s linear, letter-spacing 0.3s ease, width 0.3s ease, background 0.5s ease, color 0.5s ease;
}
.tags .tag > span {
  -webkit-transition: opacity 0.6s ease;
  -moz-transition: opacity 0.6s ease;
  -o-transition: opacity 0.6s ease;
  -ms-transition: opacity 0.6s ease;
  transition: opacity 0.6s ease;
}
.tags .tag > a {
  background: transparent !important;
  color: inherit !important;
  -webkit-transition: opacity 0.1s ease, background 0.5s ease, color 0.5s ease;
  -moz-transition: opacity 0.1s ease, background 0.5s ease, color 0.5s ease;
  -o-transition: opacity 0.1s ease, background 0.5s ease, color 0.5s ease;
  -ms-transition: opacity 0.1s ease, background 0.5s ease, color 0.5s ease;
  transition: opacity 0.1s ease, background 0.5s ease, color 0.5s ease;
}
.tags .tag .close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 7px 10px 6px;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  background: none;
  color: inherit;
  text-decoration: none;
}
.tags > :nth-child(7n+1) .tag,
.tags > .tag-input:nth-child(7n+1) {
  background: #32018c;
}
.tags > :nth-child(7n+2) .tag,
.tags > :nth-child(7n+2) .tag > a,
.tags > .tag-input:nth-child(7n+2) {
  background: #e20b19;
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  -ms-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.tags > :nth-child(7n+3) .tag,
.tags > :nth-child(7n+3) .tag > a,
.tags > .tag-input:nth-child(7n+3) {
  background: #f20ebf;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -ms-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.tags > :nth-child(7n+4) .tag,
.tags > :nth-child(7n+4) .tag > a,
.tags > .tag-input:nth-child(7n+4) {
  background: #61e91a;
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -ms-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.tags > :nth-child(7n+5) .tag,
.tags > :nth-child(7n+5) .tag > a,
.tags > .tag-input:nth-child(7n+5) {
  background: #79e4c6;
  color: black;
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  -ms-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.tags > :nth-child(7n+6) .tag,
.tags > :nth-child(7n+6) .tag > a,
.tags > .tag-input:nth-child(7n+6) {
  background: #ffef84;
  color: black;
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  -ms-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
.tags > :nth-child(7n+7) .tag,
.tags > :nth-child(7n+7) .tag > a,
.tags > .tag-input:nth-child(7n+7) {
  background: #d9baa7;
  color: black;
  -webkit-transition-delay: 0.6s;
  -moz-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  -ms-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
body.idle .logo {
  opacity: 0.5;
}
body.idle .tag-input {
  opacity: 0;
}
body.idle .tags .tag {
  min-width: 0px;
  width: 0px;
}
body.idle .tags:hover .tag {
  padding: 9px 0;
}
body.idle .tags:hover .tag > * {
  opacity: 0;
  letter-spacing: -7px;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  -ms-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  margin-left: auto;
  text-align: center;
  z-index: 2000;
  overflow: hidden;
  -webkit-transition: height 0.6s ease;
  -moz-transition: height 0.6s ease;
  -o-transition: height 0.6s ease;
  -ms-transition: height 0.6s ease;
  transition: height 0.6s ease;
  -webkit-transition-delay: 1.2s;
  -moz-transition-delay: 1.2s;
  -o-transition-delay: 1.2s;
  -ms-transition-delay: 1.2s;
  transition-delay: 1.2s;
}
.overlay.shown {
  height: 100%;
  -webkit-transition: height 0s ease;
  -moz-transition: height 0s ease;
  -o-transition: height 0s ease;
  -ms-transition: height 0s ease;
  transition: height 0s ease;
}
.overlay.shown h1,
.overlay.shown h2,
.overlay.shown .attribution {
  opacity: 1;
}
.overlay h1,
.overlay h2,
.overlay .attribution {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  -ms-transition-delay: 1s;
  transition-delay: 1s;
}
.overlay h1 {
  display: block;
  width: 4.4em;
  margin: 35% auto 0 auto;
  padding: 0.2em 0;
  border: 0.2em solid white;
  font-size: 5em;
  font-weight: 600;
  font-family: "Roboto";
  line-height: 1.666em;
  letter-spacing: -0.075em;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5), 0 0 2px rgba(0, 0, 0, 0.5);
  text-shadow: 0 0px 2px rgba(0, 0, 0, 0.5);
}
.overlay h1 i {
  padding-left: 0.09em;
  font-size: 1.333em;
  font-weight: 500;
  line-height: 1.1em;
  letter-spacing: 0px;
}
.overlay h2 {
  margin: 16px auto 0 auto;
  font-size: 1.82em;
  line-height: 1;
  letter-spacing: 1px;
  max-width: 15em;
  text-shadow: 0 0px 2px rgba(0, 0, 0, 0.8);
}
.overlay .attribution {
  font-size: 1.25em;
  margin-top: 20%;
  text-shadow: 0 0px 2px rgba(0, 0, 0, 0.8);
}
.overlay .attribution a {
  color: white;
  text-decoration: none;
}
.shown .color-bars .bar {
  height: 100%;
  -webkit-transition: height 0s ease;
  -moz-transition: height 0s ease;
  -o-transition: height 0s ease;
  -ms-transition: height 0s ease;
  transition: height 0s ease;
  -webkit-transition-delay: 0s !important;
  -moz-transition-delay: 0s !important;
  -o-transition-delay: 0s !important;
  -ms-transition-delay: 0s !important;
  transition-delay: 0s !important;
}
.color-bars {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
}
.color-bars .bar {
  position: absolute;
  z-index: 1999;
  top: 0;
  height: 0%;
  width: 14.33%;
  -webkit-transition: height 1s ease;
  -moz-transition: height 1s ease;
  -o-transition: height 1s ease;
  -ms-transition: height 1s ease;
  transition: height 1s ease;
}
.color-bars .bar:first-child {
  left: 0;
  background: #73655D;
}
.color-bars .bar:nth-child(2) {
  left: 14.3%;
  background: #8B7C27;
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  -ms-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.color-bars .bar:nth-child(3) {
  left: 28.6%;
  background: #45766B;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -ms-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.color-bars .bar:nth-child(4) {
  left: 42.9%;
  width: 14.5%;
  background: #377519;
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -ms-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.color-bars .bar:nth-child(5) {
  left: 57.3%;
  background: #7E2965;
  color: black;
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  -ms-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.color-bars .bar:nth-child(6) {
  left: 71.6%;
  background: #761B17;
  color: black;
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  -ms-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
.color-bars .bar:nth-child(7) {
  left: 84.9%;
  width: 15.1%;
  background: #1C1249;
  color: black;
  -webkit-transition-delay: 0.6s;
  -moz-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  -ms-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
.stripe-background {
  background: -webkit-linear-gradient(left, #73655d 0%, #73655d 14.3%, #8b7c27 14.3%, #8b7c27 28.6%, #45766b 28.6%, #45766b 42.9%, #377519 42.9%, #377519 57.3%, #7e2965 57.3%, #7e2965 71.7%, #761b17 71.6%, #761b17 84.9%, #1c1249 84.9%, #1c1249);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(left, #73655d 0%, #73655d 14.3%, #8b7c27 14.3%, #8b7c27 28.6%, #45766b 28.6%, #45766b 42.9%, #377519 42.9%, #377519 57.3%, #7e2965 57.3%, #7e2965 71.7%, #761b17 71.6%, #761b17 84.9%, #1c1249 84.9%, #1c1249);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(left, #73655d 0%, #73655d 14.3%, #8b7c27 14.3%, #8b7c27 28.6%, #45766b 28.6%, #45766b 42.9%, #377519 42.9%, #377519 57.3%, #7e2965 57.3%, #7e2965 71.7%, #761b17 71.6%, #761b17 84.9%, #1c1249 84.9%, #1c1249);
  /* IE10+ */

  background: linear-gradient(to right, #73655d 0%, #73655d 14.3%, #8b7c27 14.3%, #8b7c27 28.6%, #45766b 28.6%, #45766b 42.9%, #377519 42.9%, #377519 57.3%, #7e2965 57.3%, #7e2965 71.7%, #761b17 71.7%, #761b17 84.9%, #1c1249 84.9%, #1c1249);
  /* W3C */

}
@media screen and (max-width: 960px) {
  .overlay {
    font-size: 0.8em;
  }
  .overlay h1 {
    margin-top: 20%;
  }
}
@media screen and (max-width: 640px) {
  .video-box {
    position: relative;
    padding-bottom: 100%;
    width: 100%;
    max-height: 100%;
  }
  .sidebar {
    position: static;
    width: 100%;
    max-height: 250px;
  }
  .sidebar .about {
    padding-top: 36px;
    position: static;
  }
  .overlay {
    font-size: 0.5em;
  }
}
